pipeline/incremental_data_load_pip.json
{
	"name": "incremental_data_load_pip",
	"properties": {
		"activities": [
			{
				"name": "Copy_incremnetal_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lookup_last_date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup_current_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from source_cars_data where date_id> '@{activity('lookup_last_date').output.value[0].last_load}' and date_id<= '@{activity('Lookup_current_date').output.value[0].max_date}'",
							"type": "Expression"
						},
						"queryTimeout": "00:20:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_lookupwatertb",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "source_cars_data"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_bronze",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "lookup_last_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from water_mark;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_lookupwatertb",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "water_mark"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup_current_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(date_id) as max_date from source_cars_data",
						"queryTimeout": "00:20:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_lookupwatertb",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "source_cars_data"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "updatewatermarktable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_incremnetal_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updatewatertable]",
					"storedProcedureParameters": {
						"lastload": {
							"value": {
								"value": "@activity('Lookup_current_date').output.value[0].max_date",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_lookupwatertb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "silver_notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "updatewatermarktable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Manish_db_project/silver_notebook"
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}